*{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: white;
    font-family: 'Antique Olive', 'Arial Rounded MT Bold', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282D35;
}

nav {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    background-color: #21222A;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}


nav > img {
    width: 40px;
    margin-left: 20px ;
    margin-right: 20px;
    
}

span{
    color: #61DAFB;
    font-size: x-large;
    font-weight: bold;
    
}

h1{
    padding-left: 40px;
}

ul {
    padding-left: 50px;
    list-style-position: inside;
}

ul li {
    margin-bottom: 16px;
    padding: 8px 0;
    
}
